# Logs
/log/*
/tmp/*

# Ignore database files
/db/*.sqlite3
/db/*.sqlite3-journal

# PostgreSQL-specific files
/pgdata/        
*.sql           
*.pgpass        

# Rails secret files
/config/master.key
/config/credentials.yml.enc

# Bundler directories
/vendor/bundle

# Ignore the Node modules directory (if using Webpacker or jsbundling)
/node_modules/

# Ignore generated assets
/public/assets
/public/packs
/public/packs-test

# Byebug history
.byebug_history

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
